<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/reset.css"/>
    <link rel="stylesheet" href="/estilos.css"/>
    <title>Formulario autorizacion</title>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
</head>
<body>
<h1>
    <div class="h_text">
        Formulario
    </div>
</h1>

<div class="formulario">
    <label type="username">Usuario a autorizar</label>
    <input type="text" placeholder="Nombre usuario" />
</div>

</body>
</html>