<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/estilos.css" />
    <link rel="stylesheet" href="/reset.css" />
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <title>Mini TP | Login</title>
</head>
<body>
    <div class="titulo">
        Mini TP
    </div>
    <div class="login">
        Login
        <br>
        <form>
            <p>
                <label>Nombre de usuario</label>
                <input type="text" placeholder="Ingrese nombre usuario" id="nombre_usuario"/>
            </p>

            <p>
                <label>Contraseña</label>
                <input type="password" placeholder="Ingrese contraseña" id="contrasenia_usuario"/>
            </p>
            <button type="button" id="login">
                Login
            </button>
            

            <!--<a href="operaciones.hbs">Login</a>-->

        </form>
    </div>
</body>
</html>
<script src="/funciones.js"></script>
